#main-logo {
	font-size: 60px;
	margin-top: 40px;
}

.section-title {
	border-bottom: #eee solid 2px;
	padding-bottom: 5px;
}

.form-control {
	margin-bottom: 10px;
}

.form_error {
	color:#CF5E5E;
	font-weight: 600;
}

#login-link {
	position: absolute;
	right:20px;
	top:10px;
	font-size: 17px;
}